<div class="bioSectionLegend label">
4 - frequently  &nbsp;&nbsp;  &nbsp;&nbsp;
3 - sometimes   &nbsp;&nbsp;  &nbsp;&nbsp;
2 - seldom   &nbsp;&nbsp;  &nbsp;&nbsp;
1 - never  &nbsp;&nbsp;  &nbsp;&nbsp;
</div>
<div class="bioStatementAndAnswer">
	<div class="bioStatement">
	&nbsp;
	</div>
	<div class="bioAnswer">
		4
	</div>
	<div class="bioAnswer">
		3
	</div>
	<div class="bioAnswer">
		2
	</div>
	<div class="bioAnswer">
		1
	</div>

</div>
<div class="clear"></div>
