<%@ page import="lf.*" %>
<%@ page import="lf.EvidenceService" %>
<div class="evidence evidenceFile">
<p><g:link class="evidenceFileLink" controller="download" id="${e.evidenceFile.id}">
<img src="<g:resource file="${EvidenceService.getThumbnail(e)}"/>" alt="${e.evidenceFile.name}"/>
</g:link>
<p><g:link class="evidenceFileLink" controller="download" id="${e.evidenceFile.id}">${e.evidenceFile.name}</g:link>
</p>

<p><g:link class="evidenceFileLink" controller="account" action="deleteEvidence" id="${e.id}">remove</g:link>
		<p><g:link class="evidenceFileLink" controller="download" id="${e.file.id}">download original</g:link></p>
<p>Created: ${e.dateCreated.prettyDate()}</p>
<p>Status: ${e.status}</p>
</div>
