<%@ page import="lf.*" %>
<%@ page import="lf.EvidenceService" %>
<div class="evidence evidenceFile">
<table>
<tr>
<td>
		<p>
				<g:link class="evidenceFileLink" controller="download" id="${e.file.id}">
				<img src="<g:resource file="${EvidenceService.getThumbnail(e)}"/>"/>
				</g:link>
		</p>
</td>
</tr>
<tr>
<td>
		<p><g:link class="evidenceFileLink" controller="download" id="${e.file.id}">${e.file.name}</g:link>
		</p>
		<p><g:link class="evidenceFileLink" controller="download" id="${e.file.id}">download original</g:link></p>
		<p>Created: ${e.dateCreated.prettyDate()}</p>
</td>
</tr>
</table>

</div>
