<div class="sectionLegend">
<div class="sectionLegendTitle">Legend</div>
4 - frequently 
3 - sometimes 
2 - seldom 
1 - never
</div>
<div class="statementAndAnswer">
	<div class="statement">
	&nbsp;
	</div>
	<div class="answer">
		4
	</div>
	<div class="answer">
		3
	</div>
	<div class="answer">
		2
	</div>
	<div class="answer">
		1
	</div>

</div>
<div class="clear"></div>
