
<div class="listFolio">
<h2>${folio.title}</h2>
<p>
<g:link action="addMyportfolio" id="${folio.id}"><img src="${resource(dir:"images",file:"folder_blue.png")}" border="0"/></g:link>
</p>
<p>
<g:link action="addMyportfolio" id="${folio.id}">
Add ${folio.title} to my account
</g:link>
</p>
</div>

