<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
				<meta name="layout" content="${session.layout ?: grailsApplication.config.lf.layout}" />
    </head>
    <body>
        <div class="body">
<h1>Please check your email to confirm your account before logging in.</h1>
<p>
Please check your spam folder as well
</p>


        </div>
    </body>
</html>
