<html>
    <head>
		<meta name="layout" content="${session.layout ?: grailsApplication.config.lf.layout}" />
    </head>
    <body>
<h1>Admin change password</h1>
<g:form method="post" action="changePasswordProcess">
<input type='password' name="password" value=''/><br/>
<input type='submit' value='Change password'/><br/>
</g:form>

    </body>
</html>
