<html>
    <head>
		<meta name="layout" content="${session.layout ?: grailsApplication.config.lf.layout}" />
    </head>
    <body>
<h1>Admin</h1>
<g:form method="post" action="loaduser">
<input type='submit'/><br/>
<textarea name="users" rows="80" cols="20"></textarea>

</g:form>

    </body>
</html>
