<html>
    <head>
		<meta name="layout" content="${session.layout ?: grailsApplication.config.lf.layout}" />
<gui:resources components="dialog"/>
<resource:tabView/>
    </head>
    <body>


    <g:set var="action" value="learningEncounterAdd"/>
    <g:set var="navaction" value="myPortfolios"/>
    <g:if test="${viewingFriend}">
        <g:set var="action" value="NONE"/>
        <g:set var="navaction" value="sharedFriend"/>
    </g:if>

<div class="navcrumbs">
<g:link action="index">Home</g:link> 
>
<g:link action="${navaction}" id="${myportfolio.id}">${myportfolio.folio}</g:link>
> 
My Learning Encounters
</div>

            <g:if test="${flash.message}">
            <div class="message">${flash.message}</div>
            </g:if>

    <g:render template="viewingFriend" model="['friend':viewingFriend]"/>


    <h2 class="biography">My Learning Encounters for ${myportfolio.folio.title}</h2>

<div id="lexdiv">

<g:if test="${viewingFriend==null}">
<div id="lex_add">
<h2>Add a Learning Encounter</h2>
<g:form action="learningEncounterAdd">
<input type='hidden' name='p' value="${myportfolio.id}"/>

<p>
<label for="description">
<p>Write a short summary about your encounter.  Include the following information:</p>
<ul>
<li>who</li>
<li>what</li>
<li>when</li>
</ul>
</label>
<g:textArea name="description" rows="8" cols="120"></g:textArea>
</p>
<p>
<label for="date">When</label>
<input type="text" name="date" size="50"/>
</p>
<p>
<label for="topic">Language</label>
<g:select name="topic" optionKey="id" value="fullName()" from="${myportfolio.portfolios.findAll{it.status==lf.StatusCode.PORTFOLIO_INUSE}*.topic}"/>
</p>
<br/>
<div class="centered">
<g:submitButton class="btn primary" name="add" value="Add encounter"/>
</div>
</g:form>

</div>
    </g:if>



<div id="lex_list">
<h2>Learning Encounters</h2>
<table class="table">
<tr>
<th width="35%">Summary</th>
<th>Topic</th>
<th>When</th>
<th><th/>
</tr>

<g:each var="l" in="${encounterList.encounters}">

<g:if test="${l}">
<tr><td colspan="3">
<h3>${a}</h3>
</td>
</tr>
<g:each var="ac" in="${l}">
<tr>
<td>${ac.description}</td>
<td>${ac.topic.fullName()}</td>
<td>
    <g:if test="${viewingFriend==null}">
<g:link onclick="if(!confirm('Are you sure?')) { return false; } else { return true; }"
 action="learningEncounterDel" id="${ac.id}" class="btn danger">del</g:link>
        </g:if>
</td>
</tr>
</g:each>
</g:if>

</g:each>
</table>



</div>


</div>



<script>
function error(e) { 
	alert('e' + e);
}
function message(e) { 
	alert('m' + e);
}
</script>
    </body>
</html>
