<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="layout" content="${session.layout ?: grailsApplication.config.lf.layout}" />
    </head>
    <body>
        <div class="body">
        <h1>Register an account</h1>
<p><g:link action='student'>I am a student</g:link></p>
<p><g:link action='teacher'>I am a teacher</g:link></p>
        </div>
    </body>
</html>
