@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

.container{
	min-width: 960px;
	max-width: 1080px; 
	margin: auto;
}

/* @
 * tinyfluidgrid.com
 & girlfriendnyc.com
 */

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}

html * {
    margin: 0;
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

body {
    background: #fff;
    color: #333;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
}
#grailsLogo {
	padding:20px;
}

h1 {
    color: #48802c;
    font-weight: normal;
    font-size: 16px;
    margin: .8em 0 .3em 0;
}

ul {
    padding-left: 15px;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

.body {
    float: left;
}

/* NAVIGATION MENU */


.menuButton {
    font-size: 10px;
    padding: 0 5px;
    float:left;
}
.menuButton a {
    color: #333;
    padding: 4px 6px;
}
.menuButton a.home {
    background: url(../images/skin/house.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}

/* TABLES */

table {
    width: 100%
}
tr {
    border: 0;
}
td, th {
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}
th {
	background-color: #346;

    color: #fefefe;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}
th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7;
}
.even {
    background: #fff;
}

/* LIST */

.list table {
    border-collapse: collapse;
}
.list th, .list td {
    border-left: 1px solid #ddd;
}
.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

/* PAGINATION */

.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    width: 85%;
}

/* ACTION BUTTONS */

.buttons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
}

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}
#header{
	background-color: #346;
	min-height: 28px;
	padding: 0px;
	color: white;
}
.title{
	color: white;
	font-family: verdana, sans-serif;
	font-size: 20px;
}
.login_links{
	float:right;
	padding-top: 10px;
}
.login_links a{
	color: white;
}

.login {
	margin: 0 auto;
	width:300px;
}
.login a{
	color: blue;
	text-decoration:underline;
}
.s2ui_hidden_button {
display:none;
}
.candoProgressDone {
	width: 57px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: green;
	border: thin solid green;
}
.candoProgressSome {
	width: 57px;
	background: url('../images/stripe_green.png');
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: thin solid #ddd;

}
.candoProgressNone {
	width: 57px;
	background: url('../images/stripe_yellow.png');
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: thin solid #ddd;

}
.candoProgressEmpty{
	width: 57px;
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: thin solid #ddd;

}
.datasetName {
	font-size: 1.2em;
	font-weight: bold;
	
}
.clear {
clear:both;
}

.listportfolio h3 {
	background-color: black;
	color: white;
	border-bottom: thin solid black;
}
.listportfolio_image img {
	border: 0;
	width:90px;
	height:90px;
}
.listportfolio_image {
	text-align:center;
}
.listportfolio_block{
	padding: 1em;
	text-align:center;
	float:left;
	width:120px;
	height: 120px;
	margin-bottom: 0em;
}


.listportfolio_links {
	float:left;
	width:100%;
}

.listportfolio_link a:hover {
	color: white;
}
.listportfolio_link:hover {
	background-color: #99d;
}
.listportfolio_link_disabled {
	text-decoration: italic;
}
.listportfolio_link_disabled:hover {
	background-color: #efe;
	color:#333;
	text-decoration: italic;
}
.listportfolio_link {
	text-align:center;
width:100%;
	float:left;
	padding-top: 30px;
	height: 100px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
    cursor: pointer;
}

.listportfolio_link p {
	height:100%;
	padding-bottom: .5em;
}


.portfolio {
	margin-bottom: 3em;
	border: thin #999 solid;
	width: 100%;
	border-collapse:collapse;
}
.portfolioRowSectionHeader {
	float:left;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 5px;
	padding:3px;
}
.portfolio h3 {
	background-color: #346;
	color: white;
	padding: .2em;
}
.portfolio td, th {
    font: inherit;
    padding: inherit;
    text-align: left;
    vertical-align: top;
}
.portfolioInner {
	padding: .5em;
}

.portfolioRow {
	float:left;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 5px;
	padding:3px;
}
div.portfolioRow:hover {
	background-color: #ccf;
}
.portfolioDs {
	float:left;
	width: 150px;	
}
.portfolioDsName {
	font-size: 1.3em;
	font-weight: bold;
}
.portfolioDsEntry {
	float:left;
	width: 60px;	
	margin: .2em;
}
.portfolioRowHeader {
	float:left;
}
.portfolioDsScaleSpacer {
	float:left;
	width: 1em;
}
.portfolioScaleSetHeader {
	text-align:center;
	float:left;
	margin-right: 1em;
}
.portfolioScaleSetName {
	border-bottom: thin grey solid;
	font-weight: bold;
	text-align:center;
}
.portfolioScaleName {
	width: 60px;	
	float:left;
	padding: .2em;
}
.navcrumbs {
	padding: .3em;
	border-bottom: thin solid #ddd;
	font-size: 14px;
	margin-bottom: .3em;
}
.portfolioLinks {
	float:left;
	width: 200px;
}
.portfolioIcon {
	width: 200px;
	text-align: center;
	margin: 0 auto;
}
.portfolioName {
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
}
.portfolioName a {
	color: black;
}
#portfolioAddLink {
}
#portfolioAddLink a:hover {
	cursor:pointer;
}


#editPortfolios {
	float:left;
}

.portfolioList h2 {
	border-bottom: thin solid black;
	margin-bottom: .5em;
	font-size: 1.1em;
    line-height: 1.1em;
}
.portfolioList p:hover {
	background-color: #ccd;
}
.portfoliolistentry:hover {
    background-color: lightblue;
}
.portfolioList .checkleft {
    float:left;
}
.portfolioList p {
	line-height: 1.8em;
}
.portfolioList label {
    cursor:pointer;
    font-size: .8em;
}
.portfolioList input {
	margin-right: .8em;
}

.portfolioList {
	float:left;
	margin-right: 1em;
}

.adminLinks p {
	font-size: 18px;
	line-height: 1.5em;
}
#contentbody {
	margin: .5em;
}
.mainbody {
margin-top: .5em;
}


.userblock {
    float:left;
    width: 200px;
	height:180px;
border: thin solid #eef;
background-color: #ffe;
border-radius: 9px;

}

.userinfo {
	float:left;
	width: 200px;
}


.userinfo_blocked:hover {
	background-color: #d99;
}
.userinfo_confirmed:hover {
	background-color: #CCD;
}
.userinfo_unconfirmed:hover {
	background-color: #CCD;
}
.userinfo_image {
	float:left;
	padding-right: .5em;
}
.userinfo_name {
	font-weight:bold;
}
.listportfolio { 
	margin-top: 2em;
	margin-left: 2em;
	text-align:center;
	float:left;
}
.schoolselect {
	width:350px;
}
#unconfirmedFriends
{
	float:left;
}
#currentFriends
{
	float:left;
}
#header_statement {
	width:50%;
}
tr.statementRow:hover {
	background-color: #ccf;
}

.bioStatementAndAnswer {
	float:left;
}
.bioStatementAndAnswer:hover {
	background-color: #ccf;
	float:left;
}
.bioStatement {
	float:left;
	width: 500px;
}
.bioAnswer {
	text-align: center;
	width: 30px;
	float:left;
}
.statementAndAnswer {
	float:left;
}
div.statementAndAnswer:hover {
	background-color: #ccf;
}

.statement {
	float:left;
	width: 500px;
}
.answer {
	text-align: center;
	width: 30px;
	float:left;
}
.sectionLegend {
	font-weight: bold;
	width: 100%;
	text-align:center;
	margin: 0 auto;
}
.sectionLegendTitle {
	float:left;
	display:none;
	
}
.yui-nav {
	width:1013px;
}
.yui-navset .yui-content {
	height: 530px;
	width: 1000px;
	overflow:auto;
}

.chooseportfolio {
	min-height:200px;
}
#la_add {
	width:50%;
	float:left;
}
#la_list {
	width:50%;
	float:left;
}
.plink {
	float:left;
	width:180px;
	height:180px;
	text-align:center;
}
#lex_add {
	width:90%;
	clear:both;
}
#lex_list {
	width:80%;
}
.sharednotice {
	color:orange;
	font-weight:bold;
	background-color: #666;
}





div.evidences {
  background-color: #fff;
  }
div.spacer {
  clear: both;
  }
div.evidence {
    border: thin solid #eee;
  float: left;
    width:180px;
    min-height: 140px;
    margin: .5em;
    padding-top: .6em;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
div.evidence:hover {
    background-color: #FEF;
}
 div.evidence img { display:block; }
div.evidence p {
   text-align: center;
}
div.evidenceBottom {
        height: 100%;
        position: relative;
}
div.evidenceBottom div {
        position: absolute;
        bottom: 0;
   }
div.evidence table { border: 0; }

#footer {
	margin-top: 2em;
	border-top: thin solid #ddd;
    font-size: .8em;
}
#footer p {
	color: #999;
	font-size: .8em;
}
#loginButton {
margin: 0 auto;
text-align:center;
width:100%;
font-weight:bold;
margin-bottom: 1em;
}
#registerStudent {
margin-bottom: 1em;
width:100%;
}
#registerTeacher {
margin-bottom: 1em;
width:100%;
}
#forgotPasswordFormContainer {
	margin: 0 auto;
}
.bar {
	margin-top: .5em;
	margin-bottom: .5em;
	border: 1px solid #dde;
	width:100%;
}
body 
{
padding-top: 0px;
}
h2.biography {
	background-color: #346;
	color: #fefefe;
	padding: .2em;
}
h3.biography {
	margin-top: .5em;
	margin-bottom: .5em;
	background-color: #346;
	color: #fefefe;
	padding: .2em;
}
.centered
{
	text-align:center;
	margin: 0 auto;
	width: 100%;
}

.left
{
float:left;
}
table.checklistgridtable
{
    width:840px;
}
.modename
{
    font-weight:bold;
}
.skillname
{
    margin-left:1.5em;
}

.topiccloud
{
    float:left;
    margin-right: 2em;
    padding: .3em;
}
.topiccloud:hover
{
    background-color: #ddd;
}
a.candopopover {
    color:white;
}
#emaildomaintextarea {
    height: 350px;
}
a.brand  {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
font-size: 18px;
    color: white;
}

.topbar h3 a, .topbar .brand {
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 200;
    line-height: 1;
    margin-left: -20px;
    padding: 8px 20px 12px;
}

.subnav
{
    background: #f8f8f8 -moz-linear-gradient(center top, #F5F5F5 0%, #f8f8f8 100%) repeat-x;
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    height: 36px;
    width: 100%;
}
th.sortable a {
    color: white;
    font-size: 14px;
}
.currentStep, span.step  {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    float: left;
    line-height: 34px;
    padding: 0 14px;
    text-decoration: none;
}
a.prevLink
{
    border-left: 1px solid #ddd;
}
span.step { float:left;}

ol.property-list {
    list-style: none;
}
img.portfolioStatementImage
{
    width:130px;
}
img.portfolioCandoImage
{
    width:180px;
}

select.datetimenotice {
    width:50px;
}

.friendsmain
{

}
.userinfo_unconfirmed img
{
   width:60px;
}

.friendsidebar
{
    padding-bottom: 10px;
    border-bottom: thin solid #ccc;
    margin-bottom: 10px;
}
img.evidenceThumbnail
{
    margin: 0 auto;
   width:150px;
}
#videoModal
{
    display:none;
    height:500px;
    width:640px;
}
#videoModalA
{
    display:block;
    height:400px;
    width:580px;
}
a.whitebtn {
    color: white;
    font-weight:bold;
}
a.whitebtn:visited {
    color: white;
    font-weight:bold;
}


.logintable
{
    width:300px;
    margin: 0 auto;
}

.errorMessage
{
    margin-top: 1em;
}
.errorText
{
    line-height: 1.7em;
    font-size: 1.3em;
}
.sharing_owner {
    margin-top: 1em;
    border-top: thin solid #ddd;
}

.sharing_listportfolio h3 {
    background-color: black;
    color: white;
    border-bottom: thin solid black;
}
.sharing_listportfolio_image img {
    border: 0;
    width:90px;
    height:90px;
}
.listportfolio_image {
    text-align:center;
}
.sharing_listportfolio_block{
    padding: .3em;
    text-align:center;
    float:left;
    width:100px;
    height: 40px;
    margin-bottom: 0em;
}


.sharing_listportfolio_links {
    float:left;
    width:100%;
}

.sharing_listportfolio_link a:hover {
    color: black;
    text-decoration: none;
}
.sharing_listportfolio_link:hover {
    background-color: #ccd;
}
.sharing_listportfolio_link_disabled {
    text-decoration: italic;
}
.sharing_listportfolio_link_disabled:hover {
    background-color: #efe;
    color:#333;
    text-decoration: italic;
}
.sharing_listportfolio_link {
    text-align:center;
    width:100%;
    float:left;
    padding-top: 6px;
    height: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    cursor: pointer;
}

.sharing_listportfolio_link p {
    padding-bottom: .2em;
}
.btn a {
    color: white;
}

.sharing_warning
{
    background-color: #fdd;
    margin-bottom: 1em;
    padding: 8px;
    border-radius: 5px;
}

.uploadr .files {
    width:250px;
}
.uploadr .fileinput {
    width:275px;
}
.uploadr .file .info .controls {
    display:none;
}
.uploadr .file .info {
    margin-top: -60px;
}
.mainbody
{
    min-height: 400px;
}
.error
{
    color: red;
    font-weight: bold;
}


.blogdate
{
	font-style:italic;
}
.blogentrybody
{
	margin-top: 1em;
}
.allblog
{
	margin-top: 2em;
}
