<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <title>JQuery Validation UI Plugin ${version}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="${resourcesPath}/css/main.css" type="text/css" media="screen, print" title="Style" charset="utf-8" />
        <link rel="stylesheet" href="${resourcesPath}/css/pdf.css" type="text/css" media="print" title="PDF" charset="utf-8" />
    <script type="text/javascript">
function addJsClass(el) {
    var classes = document.body.className.split(" ");
    classes.push("js");
    document.body.className = classes.join(" ");
}
    </script>
    </head>

    <body class="body" onload="addJsClass();">
        <div id="navigation">
            <ul>
                <li>
                    <div id="nav-summary" onmouseover="toggleNavSummary(false)" onmouseout="toggleNavSummary(true)">
                        <a href="${path}/guide/index.html" class="button">Table of contents</a>
                        <div id="nav-summary-childs" style="display:none;">
                            <%
                            toc.children.eachWithIndex { ch, i ->
                                if (single) {
                            %>
                            <div class="toc-item" style="margin-left:0"><a href="#${ ch.name.encodeAsUrlFragment().encodeAsHtml() }"><strong>${i + 1}</strong><span>${ch.title?.encodeAsHtml()}</span></a></div>
                            <%
                                }
                                else {
                            %>
                            <div class="toc-item" style="margin-left:0"><a href="${path}/guide/${ch.name.encodeAsUrlPath().encodeAsHtml()}.html"><strong>${i + 1}</strong><span>${ch.title?.encodeAsHtml()}</span></a></div>
                            <%
                                }
                            }
                            %>
                        </div>
                    </div>
                </li>
                <li class="separator selected">
                    <a id="ref-button" onclick="localToggle(); return false;" href="#">Quick Reference</a>
                </li>
            </ul>
        </div>
        <div id="header">
            <div class="images clearfix">
                <% if (logo) { %>
                <span id="logo">${logo}</span>
                <% } %>
                <% if (sponsorLogo) { %>
                <span id="sponsor">${sponsorLogo}</span>
                <% } %>
            </div>
			<p>Client Side Validation without writing JavaScript</p>
        </div>


        <table id="colset" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td id="col1">
                    <div id="main" class="corner-all">

                        <span id='toggle-col1' class="toggle">(<a href="#" onclick="localToggle(); return false;">Quick Reference</a>)</span>

                        <div class="project">
                            <h1>JQuery Validation UI Plugin - Reference Documentation</h1>
                            <p><strong>Authors:</strong> ${authors}</p>
                            <p><strong>Version:</strong> ${version}</p>
                        </div>

                        <% if(toc){ %>
                        <div id="table-of-content">
                            <h2>Table of Contents</h2>
                            <%
                            sectionWriter = { lvl, section, topSection, prefix ->
                                if (single) {
                            %>
                            <div class="toc-item" style="margin-left:${lvl * 10}px"><a href="#${ section.name.encodeAsUrlFragment().encodeAsHtml() }"><strong>$prefix</strong><span>${section.title?.encodeAsHtml()}</span></a></div>
                            <%
                                }
                                else {
                            %>
                            <div class="toc-item" style="margin-left:${lvl * 10}px"><a href="${path}/guide/${topSection.name.encodeAsUrlPath().encodeAsHtml()}.html${ lvl == 0 ? '' : '#' + section.name.encodeAsUrlFragment().encodeAsHtml() }"><strong>$prefix</strong><span>${section.title?.encodeAsHtml()}</span></a></div>
                            <%
                                }

                                lvl++
                                section.children.eachWithIndex { s, j ->
                                    sectionWriter.call(lvl, s, topSection, prefix + '.' + (j + 1))
                                }
                            }

                            toc.children.eachWithIndex { topSection, i ->
                                sectionWriter.call(0, topSection, topSection, i + 1)
                            }
                            %>
                            <div style="clear:both" ></div>
                        </div>
                        <% } %>
                        ${content}
                    </div>
                </td>
                <td id="col2">
            <div class="local clearfix">
                <div class="local-title">
                    <a href="${path}/guide/index.html" target="mainFrame">Quick Reference</a>
                    <span class="toggle">(<a href="#" onclick="localToggle(); return false;">hide</a>)</span>
                </div>
                <div class="menu">
                    <% for (cat in refMenu) { %>
                    <div class="menu-block"><h1 class="menu-title" onclick="toggleRef(this.parentNode.childNodes[1])">${cat.name.encodeAsHtml()}</h1><div class="menu-sub">
                        <% if (cat.usage.exists()) { %>
                        <div class="menu-item"><a href="${path}/ref/${cat.name.encodeAsUrlPath().encodeAsHtml()}/Usage.html">Usage</a></div>
                        <% } %>
                        <% for (txt in cat.sections) { %>
                        <div class="menu-item"><a href="${path}/ref/${cat.name.encodeAsUrlPath().encodeAsHtml()}/${txt.name[0..-6].encodeAsUrlPath().encodeAsHtml()}.html">${txt.name[0..-6].encodeAsHtml()}</a>
                        </div>
                        <% } %>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </td>
            </tr>
        </table>

        <div id="footer">
            ${copyright}
            ${footer}
        </div>



<script type="text/javascript" src="${resourcesPath}/js/docs.js"></script>

    </body>
</html>
