/*
////////////////////////////////////////////////////////////////////////////////
//
//  Color.
//
////////////////////////////////////////////////////////////////////////////////
*/

body, .wiki-table th strong {
    color: #444;
}

a, a:hover, a:focus, a:active, a:hover, #main .project strong, #table-of-content a:hover strong,
    #table-of-content a strong, .menu .menu-block h1, .menu a:hover, .local .local-title .toggle a,
    #navigation #nav-summary-childs a:hover, #main h1, #main h2 {
    color: #7c9d00;
}

#main .project h1, #table-of-content h2 {
    color: #444;
}

#footer {
    color: #999;
}

#footer a, .menu a, .local .local-title a, .local .local-title .toggle,
    #navigation #nav-summary-childs a {
    color: #333;
}

.java-keyword, .java-object {
    color: #0911ff;
}

.java-quote {
    color: #268000;
}

#navigation a, #nav-summary #nav-summary-childs a:hover {
    color: white;
}

.toc-item a {
    text-decoration: none;
}

.toc-item a:hover {
    text-decoration: underline;
}

/*
////////////////////////////////////////////////////////////////////////////////
//
//  Background Color.
//
////////////////////////////////////////////////////////////////////////////////
*/

#main {
    background: white;
}

.code, #navigation #nav-summary-childs {
    background: #F2f2F2;
}


#navigation .selected a {
    background: #5a7103;
}

#navigation a:hover {
    background: #678104;
}

#navigation .selected a:hover, #navigation .active .button {
    background: #526703;
}

/*
////////////////////////////////////////////////////////////////////////////////
//
//  Background Image.
//
////////////////////////////////////////////////////////////////////////////////
*/


.menu .menu-item {
    background: url(../img/default/bullet.gif) no-repeat 2px 8px;
}

.local .local-title {
    background: #F2F2F2 url(../img/default/separator-horizontal.gif) repeat-x 0 bottom;
}

#table-of-content a:hover {
    background: #F2F2F2 url(../img/default/linear-gradient.png) repeat-x 0 0;
}

.wiki-table th, #navigation {
    background: #a4c001 url(../img/default/linear-gradient-green.png) repeat-x 0 0;
}

#navigation .separator {
    background: url(../img/default/separator-menu.png) no-repeat 0 center;
}



/*
////////////////////////////////////////////////////////////////////////////////
//
//  Border Color.
//
////////////////////////////////////////////////////////////////////////////////
*/

#main {
    border-color: #d3d3d3;
    border-style: solid;
}

#navigation {
    border-style: solid;
    border-color: #344d06;
}

.code {
    border-style: dashed;
    border-color: #333;
}

#navigation #nav-summary-childs {
    border-style: solid;
    border-color: #888;
    border-top-color: #444;
}
