<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
  <title>eLinguafolio Files</title>
    <meta name="layout" content="${domainLayout}"/>
</head>
<body>
${contentInstance.body}
</body>
</html>