
<%@ page import="lf.CandoStatement" %>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="layout" content="main" />
        <g:set var="entityName" value="${message(code: 'candoStatement.label', default: 'CandoStatement')}" />
        <title><g:message code="default.list.label" args="[entityName]" /></title>
    </head>
    <body>
        <div class="nav">
            <span class="menuButton"><a class="home" href="${createLink(uri: '/admin')}"><g:message code="default.admin.label"/></a></span>

            <span class="menuButton"><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></span>
        </div>
        <div class="body">
            <h1><g:message code="default.list.label" args="[entityName]" /></h1>
            <g:if test="${flash.message}">
            <div class="message">${flash.message}</div>
            </g:if>
            <div class="list">
                <table>
                    <thead>
                        <tr>
                        
                            <g:sortableColumn property="id" title="${message(code: 'candoStatement.id.label', default: 'Id')}" />
                        
                            <g:sortableColumn property="statement" title="${message(code: 'candoStatement.statement.label', default: 'Statement')}" />
                        
                            <th><g:message code="candoStatement.skill.label" default="Scale" /></th>
                   	    
                            <g:sortableColumn property="sortOrder" title="${message(code: 'candoStatement.sortOrder.label', default: 'Sort Order')}" />
                        
                        </tr>
                    </thead>
                    <tbody>
                    <g:each in="${candoStatementInstanceList}" status="i" var="candoStatementInstance">
                        <tr class="${(i % 2) == 0 ? 'odd' : 'even'}">
                        
                            <td><g:link action="show" id="${candoStatementInstance.id}">${fieldValue(bean: candoStatementInstance, field: "id")}</g:link></td>
                        
                            <td>${fieldValue(bean: candoStatementInstance, field: "statement")}</td>
                        
                            <td>${fieldValue(bean: candoStatementInstance, field: "skill")}</td>
                        
                            <td>${fieldValue(bean: candoStatementInstance, field: "sortOrder")}</td>
                        
                        </tr>
                    </g:each>
                    </tbody>
                </table>
            </div>
            <div class="paginateButtons">
                <g:paginate total="${candoStatementInstanceTotal}" />
            </div>
        </div>
    </body>
</html>
